@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}
:root {
  --Btn-color: #ff5400;
}
/* ----------shared style--------- */
.section-header {
  color: #131318;
  font-size: 3rem;
  font-weight: 800;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 0.9rem;
  font-weight: 400;
  /* line-height: 5px; */
}
.section-btn {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 8px;
  background: var(--Btn-color);
  padding: 10px;
  border: none;
}

/* ----------Navbar style--------- */
.nav-bar {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.nav-img {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav-img h2 {
  color: #131318;
  font-size: 36px;
  font-weight: 700;
}
.trip {
  color: var(--Btn-color);
}
.nav-text {
  width: 50%;
  display: flex;
  gap: 3rem;
  justify-content: right;
}
.nav-text a {
  text-decoration: none;
  color: #424247;
  font-size: 1.2rem;
  font-weight: 500;
}
.nav-text i {
  display: none;
}
/* -----------banner style----------- */
.banner {
  max-width: 1150px;
  height: 78vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1)
    ),
    url("../Images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  text-align: center;
}
.banner-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-text h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}
.banner-text p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.input-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}
.input-items input {
  padding: 10px;
  width: 150px;
  border-radius: 8px;
  border: none;
}
.primary-btn {
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  background: #ff5400;
  padding: 10px;
  border: none;
}
.icon {
  position: relative;
}
.icon i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;
}
/* -----Popular tour section style----- */
.popular-tour {
  max-width: 1150px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.popular-tour-text {
  width: 50%;
}
.popular-tour-text li {
  margin: 25px auto;
}
.popular-tour-text p {
  margin: 30px auto;
}
.popular-tour-img {
  width: 45%;
}
.popular-tour-img img {
  width: 100%;
  height: 100%;
}
/* -------destination style ------ */
.destination {
  width: 1150px;
  margin: 40px auto;
}
.destination-text {
  text-align: center;
}
.destination-text p {
  margin: 20px 0;
}

.destination-name {
  position: relative;
}
h3 {
  position: absolute;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 40%;
}
.distination-img {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.distination-img img {
  width: 100%;
  height: 100%;
}

.img-1 {
  grid-column: 1 / span 6;
  text-align: center;
}
.img-2 {
  grid-column: 7 / span 6;
}
.img-3 {
  grid-column: 1 / span 4;
}
.img-4 {
  grid-column: 5 / span 5;
}
.img-5 {
  grid-column: 10 / span 3;
}
.img-6 {
  grid-column: 1 / span 5;
}
.img-7 {
  grid-column: 6 / span 7;
}
/* ------why choose us sec style------ */
.choose {
  max-width: 1124px;
  margin: 40px auto;
}
.choose-text {
  text-align: center;
}
.choose-text p {
  margin: 20px;
}
.choose-card {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.hotel {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hotel img {
  width: 60px;
}
.num-1 {
  grid-column: 1 / span 6;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.num-2 {
  grid-column: 7 / span 6;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.num-3 {
  grid-column: 4 / span 6;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.hotel h2 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
/* -----discount sec style--------- */
.discount {
  max-width: 1150px;
  margin: 50px auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.discount button {
  width: 30%;
}
.discount-text {
  text-align: center;
}
.discount-img-1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  height: 400px;
  background-image: url("../Images/discount-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.discount-img-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  height: 400px;
  background-image: url("../Images/discount-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.discount-img-3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
  height: 400px;
  background-image: url("../Images/discount-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.discount-details {
  border: 2px solid red;
  width: 40%;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.discount h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.price {
  font-size: 20px;
  font-weight: 800;
}
.discount ul {
  display: flex;
  gap: 15px;
}
.discount ul li {
  list-style: none;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.discount ul li i,
.price {
  color: var(--Btn-color);
}
.packages {
  align-self: center;
}
/* ------simple place sectiion--- */
.simple-sec {
  max-width: 1150px;
  height: 350px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}
.simple-sec-description {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.simple-sec-img {
  width: 48%;
}
.simple-sec button {
  width: 30%;
}
.simple-sec-img img {
  width: 100%;
  height: 100%;
}
/* -----review---- */
.review {
  max-width: 1150px;
  height: 300px;
  margin: 40px auto;
}
.review-text {
  text-align: center;
}
.review-text p {
  margin: 20px auto;
}
.review-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.card-1,
.card-2 {
  display: flex;
  gap: 10px;
  padding: 15px;
  width: 45%;
}

.card-1 img , .card-2 img{
  border-radius: 50%;
}
/* -------Newsletter section style------ */
.newsletter {
  max-width: 1150px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.letter-input-form {
  width: 35%;
  border: 1px solid var(--Btn-color);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.letter-input-form p {
  margin: 10px 0;
}
.letter-input-form h3 {
  font-size: 1.7rem;
}
.newsletter hr {
  margin: 20px 0;
}
.letter-input-form input {
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
.letter-input-form button {
  margin: 20px 0;
  width: 100%;
}
.letter-img {
  width: 60%;
  position: relative;
}
.letter-img img {
  width: 100%;
  height: 350px;
  object-fit: conver;
}
.Tag {
  position: absolute;
  background-color: var(--Btn-color);
  padding: 15px 20px;
  width: 35%;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  transform: rotate(340deg);
  bottom: 40px;
  right: 5px;
}
.Tag span {
  font-weight: 800;
}
/* -----------footer style----------- */
.footer {
  width: 100%;
  height: 400px;
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
.footer-img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-elements {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.footer-icon {
  display: flex;
  gap: 20px;
  font-size: 2rem;
}
